.TourPlans{
  margin-top: 90px;
}
.TourPlans .container{
    gap: 94px;
}
.TourPlans .container .info span{
  color: var(--primary-color);
font-size: 18px;
font-weight: 700;
letter-spacing: 1.8px;
text-transform: uppercase;
margin-bottom: 10px;
}
.TourPlans .container .info h2{
  color: #181E4B;
font-size: 39px;
font-weight: 700;
line-height: 71.042px;
margin-bottom: 10px;
}
.TourPlans .container .info p{
  color: var(--Black-color);
font-size: 16px;
font-weight: 400;
line-height: 31px;
margin-bottom: 50px;
}
.TourPlans .container .info .rate{
  gap: 30px;
}
.TourPlans .container .info .rate p{
margin-bottom: 22px;
color: var(--gray-color);
font-size: 30px;
font-weight: 400;
}
.TourPlans .container .info .rate h4{
color: #181E4B;
font-size: 18px;
font-weight: 700;
letter-spacing: 1.8px;
text-transform: uppercase;
}
/* ======================================= Responsive ===================================== */
@media (max-width:992px) {
  .TourPlans{
  margin-top: 60px;
}
.TourPlans .container{
flex-direction: column;
justify-content: center;
gap: 50px;
}

.TourPlans .container .info span{
  color: var(--primary-color);
}
.TourPlans .container .info h2{
font-size: 28px;
line-height: 40px;
margin-bottom: 10px;
}
.TourPlans .container .info p{
font-size: 14px;
line-height: 29px;
margin-bottom: 40px;
}
}
@media (max-width:768px) {
  .TourPlans .container .image , .TourPlans .container .image img{
  width: 80%;
}
}