@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yesteryear&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root{
  --primary-color:#DF6951;
  --Black-color:#2f2f2f;
  --White-color:#ffffff;
  --gray-color:#7d7d7d;
}
html{
  scroll-behavior: smooth;
}
body{
  position: relative;
}
.container{
  padding: 0 5.124vw;
}
ul {
  list-style: none;
}
a{
  text-decoration: none;
}
button{
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
color: var(--White-color);
}
.flex-bw{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-al-c{
  display: flex;
  align-items: center;
}
.flex-col{
  display: flex;
  flex-direction: column;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}